.jumbotron {
    background-color: green;
    color: white;
}

footer {
    margin-top: 10px;
    padding: 10px 10px 0 10px;
    background-color: green;
    color: white;
    margin-bottom: 0px;
}

a {
    color: white;
}

.card-suplemento {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-reserva {
    background-color: green;
    width: 100%;
}